{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
    {% for category in categories %}
        {% with category.get_children as boards %}
            {% with None as board %}
                <div class="card bg-dark border-dark mb-3">
                    <div class="card-header bg-dark text-light">
                        <div class="card-title"><h1 class="text-light font-weight-bold">{{ category.name }}</h1></div>
                    </div>
                    <div class="card-body bg-dark">
                        {% include 'boards/includes/board_list.html' %}
                    </div>
                    <div class="card-footer bg-dark text-light"></div>
                </div>
            {% endwith %}
        {% endwith %}
    {% endfor %}
{% endblock %}