.codehilight .hll { background-color: #ffffcc }
.codehilight  { background: #f8f8f8; }
.codehilight .c { color: #408080; font-style: italic } /* Comment */
.codehilight .err { border: 1px solid #FF0000 } /* Error */
.codehilight .k { color: #008000; font-weight: bold } /* Keyword */
.codehilight .o { color: #666666 } /* Operator */
.codehilight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.codehilight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilight .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.codehilight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilight .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilight .gd { color: #A00000 } /* Generic.Deleted */
.codehilight .ge { font-style: italic } /* Generic.Emph */
.codehilight .gr { color: #FF0000 } /* Generic.Error */
.codehilight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilight .gi { color: #00A000 } /* Generic.Inserted */
.codehilight .go { color: #888888 } /* Generic.Output */
.codehilight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilight .gs { font-weight: bold } /* Generic.Strong */
.codehilight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilight .gt { color: #0044DD } /* Generic.Traceback */
.codehilight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilight .kp { color: #008000 } /* Keyword.Pseudo */
.codehilight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilight .kt { color: #B00040 } /* Keyword.Type */
.codehilight .m { color: #666666 } /* Literal.Number */
.codehilight .s { color: #BA2121 } /* Literal.String */
.codehilight .na { color: #7D9029 } /* Name.Attribute */
.codehilight .nb { color: #008000 } /* Name.Builtin */
.codehilight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilight .no { color: #880000 } /* Name.Constant */
.codehilight .nd { color: #AA22FF } /* Name.Decorator */
.codehilight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilight .nf { color: #0000FF } /* Name.Function */
.codehilight .nl { color: #A0A000 } /* Name.Label */
.codehilight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilight .nv { color: #19177C } /* Name.Variable */
.codehilight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilight .w { color: #bbbbbb } /* Text.Whitespace */
.codehilight .mb { color: #666666 } /* Literal.Number.Bin */
.codehilight .mf { color: #666666 } /* Literal.Number.Float */
.codehilight .mh { color: #666666 } /* Literal.Number.Hex */
.codehilight .mi { color: #666666 } /* Literal.Number.Integer */
.codehilight .mo { color: #666666 } /* Literal.Number.Oct */
.codehilight .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilight .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilight .sc { color: #BA2121 } /* Literal.String.Char */
.codehilight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilight .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilight .sx { color: #008000 } /* Literal.String.Other */
.codehilight .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilight .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilight .ss { color: #19177C } /* Literal.String.Symbol */
.codehilight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilight .fm { color: #0000FF } /* Name.Function.Magic */
.codehilight .vc { color: #19177C } /* Name.Variable.Class */
.codehilight .vg { color: #19177C } /* Name.Variable.Global */
.codehilight .vi { color: #19177C } /* Name.Variable.Instance */
.codehilight .vm { color: #19177C } /* Name.Variable.Magic */
.codehilight .il { color: #666666 } /* Literal.Number.Integer.Long */
