{% extends 'base.html' %}
{% load static core_extras martortags %}

{% block meta %}
    {% if page %}
        {% if page.logo %}
            {% generate_twitter_card 'AxioDL' page.page_name page.description page.logo.url %}
        {% else %}
            {% generate_twitter_card 'AxioDL' page.page_name page.description %}
        {% endif %}
    {% else %}
        {% generate_twitter_card 'AxioDL' 'AxioDL Index' 'Nothing much going on' %}
    {% endif %}
{% endblock %}
{% block breadcrumb-base %}<br/>{% endblock %}
{% block content %}
    {% if page %}
        <div class="card bg-dark border-dark">
            <div class="card-header bg-dark border-dark text-light">
                <div class="row">
                    {% if page.logo %}
                        <div class="col-md-1">
                            <div>
                                <img width="32px" src="{{ page.logo.url }}"/>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-9 text-center">
                        <h2>{{ page.page_name }}</h2>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light border-dark">
                {{ page.content|safe_markdown }}
            </div>
            <div class="card-footer bg-dark">
                <div id="container-fluid">
                    <div class="row">
                        <div class="col-8">
                        <span class="float-left mt-2 text-light">
                            {% blocktrans %}Created on {{ page.created_at }} by {{ page.created_by }}{% endblocktrans %}
                            {% if page.updated_at %}
                                {% blocktrans %}Updated on {{ page.updated_at }} by {{ page.updated_by }}{% endblocktrans %}
                            {% endif %}
                        </span>
                        </div>
                        <div class="col-2 text-center">
                            <!-- spacer -->
                        </div>
                        <div class="btn-group">
                            {% if perms.pages.delete_page %}
                                <a href="{% url 'pages.delete.page' page.slug %}"
                                   class="btn btn-danger confirm-delete">{% trans "Delete" %}</a>
                            {% endif %}
                            {% if perms.pages.edit_page %}
                                <a href="{% url 'pages.edit.page' page.slug %}"
                                   class="btn btn-primary">{% trans "Edit" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
