{% extends 'base_accounts.html' %}

{% block title %}Log in to AxioDL{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card border-dark">
                <div class="card-header bg-dark text-light">
                    <div class="card-title"><h2 class="card-title">Log in</h2></div>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    New to AxioDL? <a href="{% url 'signup' %}">Sign up</a>
                </div>
            </div>
            <div class="text-center py-2">
                <small>
                    <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}